{% extends '::base.html.twig' %}

{% block body2 %}

                <h1><span>Koszyk produkt贸w</span> </h1>
                <p>
                    <a href="{{ path('app_product_list') }}">Lista produkt贸w</a>
                </p>

{% endblock %}

{% block header2 %}

    <h1><span>Koszyk produkt贸ww</span> </h1>
    <p>
        <a href="{{ path('app_product_list') }}">Lista produkt贸w</a>
    </p>

{% endblock %}

{% block stylesheets %}

{% endblock %}
